{% extends "base.html" %}
{% block sup %}
<div style="text-align:center">
<h1  class="white_link">{{article.title}}</h1>
<br>
<br>
<img class="center-cropped" style="width: 70%" src="{{ url_for('static', filename='article/'+ article.image )}} ">
<br>
<br>
<br>
<div style="text-align:start">
{% for paragraph in article.text.split("\n") %}
<p class="white_link articletext">{{paragraph}}</p>
{% endfor %}
</div>
<p class="white_link" style="text-align: end">{{prettyTime(article.creation_date)}}</p>
</div>

{% endblock %}