<!DOCTYPE html>
<html lang="ru">

<head>


    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='html_prop/Nahruk.ico')}}">

    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
    {% block links%}{% endblock %}
</head>

<body>

    <header>
        <nav class="navbar navbar-light" style="background-color: #757575">
            <div style="pading:12px">
            <a class="navbar-brand headtext" href="/">Главная</a>
            <a class="navbar-brand headtext" href="/#news">Новости</a>
            <a class="navbar-brand headtext" href="/#social">Общение</a>
            <a class="headtext" href="#PorkSong" style="padding-left:2px; padding-right:12px" onClick="alert('{{getaPorkSong()}}')">Что слушает Джон?  </a>
            {% if current_user.is_authenticated%}
            {% if  current_user.rank <= 3%}
                <a class="navbar-brand headtext" href="/write-an-article">Написать</a>
            {% endif %}
            {% if  current_user.rank <= 2%}
                <a class="navbar-brand headtext" href="/response">Ответить</a>
            {% endif %}
            {% if  current_user.rank == 1%}
            <a class="navbar-brand headtext" href="/appointment">Назначить</a>
            {% endif %}
            {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/account">{{ current_user.name }}</a>
            {% else %}
            <p>
                <a class="porkbtn white_link" href="/register">Зарегистрироваться</a>
                <a class="porkbtn white_link" href="/login">Войти</a>
            </p>
            {% endif %}
        </nav>
    </header>
    <!-- Begin page content -->
    <main>
        {% block content %}{% endblock %}
        <div class="supuniversal">
        {% block sup %}{% endblock %}
        </div>
    </main>
    <div class="bg-dark">
        <div style="padding: 5%;">
            <div class="dh">
                <div class="l1">JOHN</div>
                <div class="lgr1">PORK</div>
            </div>
            <hr class="my-4" style="border-top: 2px solid gray">
            <div class="dh1">
               <div>
                     
                    <div class="d-flex pt-5" >
                        <p style="color: #49A144; font-size: 30px;">#</p><p style="color: white; font-size: 30px;">JohnPork</p>
                    </div>
                   
               </div>
               <div class="ht">
                <a href="down"  class="tx">О Джоне Порке</a><br>
                <a href="https://pk.mipt.ru/schools/fpmi/"  class="tx">Станьте бакалавром поркологии!</a><br>
            </div>
            <div class="ht">
                <a href="down" class="tx">Заочное отделение</a><br>
                <a href="down" class="tx">Бебринский Университет</a><br>
                <a href="down" class="tx">Помощь</a><br>
                <a href="down" class="tx">FAQs</a>
            </div>
            </div>
            <br>
            <br>
            <hr class="my-4" style="border-top: 2px solid gray">
            <br>
            <br>
            <br>
            <br>
            <hr class="my-4" style="border-top: 2px solid gray">
        </div>
        <div class="ff pb-5 pl-1 pr-1">
            <a href="down" class="tx j">© 2024 JP Technologies Inc.</a>
            <a href="down.exe" class="tx j">Наша налоговая отчётность</a>
            <a href="down" class="tx j">Пользовательское соглашение</a>
        </div>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>