{% extends "base.html" %}
{% block links %}
<link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}


{% block content %}
    <div class="video-container d-flex justify-content-cente" style="width:100%" >
        <video id="background-video" autoplay loop muted style="width:100%">
            <source src="static/html_prop/EpicEdit8035.mp4" type="video/mp4">
            
        </video>
        <div class="overlay">
            <blockquote>
                <h1 class="message-text">{{data.message}}</h1>
                <br>
                <br>
                <cite style="color:white;"> - {{data.outmessage}}</cite>
            </blockquote>
            
        </div>
    </div>
    <div class="form-form-container" id="social">
                {% if current_user.is_authenticated%}
            
                
            






            <form method="POST" class="form-container">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.letter.label (class="letterLetters headtext")}} <br>
                    {{ form.letter(class="porkform") }} <br>
                    {% for error in form.letter.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}

                </p>
                {% if message  %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                <p>
                    {{ form.submit(class="porkbtn") }}
                </p>
            </form>
            {% endif %}
            

        </ul>

        <div class="col-span-4" style="" id="news"> 
            <div class="grid grid-cols-4 gap-4">
        {% for article in data.news %}
            <div class="m-3">
                <a class="white_link" href="/article/{{article.id}}"n>
                    <div class="black_link container center-cropped" style="padding:0px">
                        <img class="center-cropped" src="static/article/{{article.image}}">
                        
                    </div>
                    
                    <div class="p-6" style="background-color:grey;">
                        <h2 class="text-2xl white_link"><strong>{{article.title}}</strong></h2>
                    </div>
                </a>
            </div>
            
        {% endfor %}
        </div>
        </div>
    </div>




    

{% endblock %}