{% extends "base.html" %}

{% block content %}
    <h1>Главная страница</h1>
    {% if current_user.is_authenticated%}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.letter.label }} <br>
            {{ form.letter(class="form-control") }} <br>
            {% for error in form.letter.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endfor %}

        </p>
        {% if message  %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}
        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
    </form>
    {% endif %}
    

</ul>
{% endblock %}