{% extends "base.html" %}

{% block sup %}
    <h1 class="white_link">Авторизация</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label (class="white_link")}} <br>
            {{ form.email(class="form-control", style="width:40%") }} <br>
            {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endfor %}

        </p>

        <p>
            {{ form.password.label (class="white_link")}} <br>
            {{ form.password(class="form-control", style="width:40%") }} <br>
            {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endfor %}
        </p>

        

        <p>
            {{ form.submit(class="porkbtn") }}
        </p>

        {% if message  %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}


    </form>

{% endblock %}