{% extends 'base.html' %}
{% block sup %}
{% if status == 0 %}
<h1 class="white_link">{{message}}</h1>
{% endif %}
{% if status == 1  %}
{% for req in requests %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            <h2 class="white_link">{{ req.letter }}</h2> <br>
            <h4 class="white_link">{{ prettyTime(req.request_date) }}</h4> <br>
            <p class="white_link">{{ getNameById(req.sender_id) }}</p><br>
            {{ form.response(class="form-control", id=req.id, style="width:40%") }} <br>
            {% for error in form.response.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

        </p>
        {% if message  %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}
        <p>
            {{ form.submit(class="porkbtn") }}
        </p>
    </form>
{% endfor %}
{% endif %}
{% endblock %}